
nav {
 width: 100%;
}
nav ul {
    list-style-type:none;
    margin: 0;
    padding: 100px;
    overflow: hidden;
    background-color: #999;
}
nav li {
    float: left;
    margin-left: 15%;
    font-size: 18px;
}
body {
    font-family: 'Lato', sans-serif;
    
}

p {
    max-width: 400px;
    line-height: 30px;
    
}

header {
    margin:5% 5% 0% 5%;
}

.AboutMe {
    margin: auto;
    width: 50%;
    font-size: 18px;
}
.AboutMe img {
    border-radius: 3%;
}
.TopContainer {
    display: flex;
    flex-direction: row;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

.ProjectContainer h1 {
    margin: auto;
    width: 50%;
}
.ProjectSub {
    max-width: 200px;
    padding: 50px;
    margin: 10px;
    text-align: center;
    overflow-wrap: break-word;
    border: 0.5px solid rgba(0,0,0, .2);
    border-radius: 3%;
    box-shadow: 5px 5px rgba(0,0,0,.7);
}